{% extends 'base.html' %}
{% block content %}
<h2>Your Orders</h2>

{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                <strong>Order #{{ order.id }}</strong> - ₹{{ '%.2f' % order.total }}<br />
                <ul>
                {% for item in order.product_list %}
                    <li>{{ item.name }} x {{ item.quantity }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no orders.</p>
{% endif %}
{% endblock %}
